.contacto {
    grid-area: contacto;
    display: flex;
    align-items: flex-start;
    margin: 10px;
    width: 80%;
    margin: auto;
    @media screen and (max-width: 576px) {
        width: 95%;
    }

}

#contacto-form {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 100%;

    .form {
        width: 70%;
        text-align: center;
        font-size: 12px;
        margin: auto;

        textarea {
            min-height: 100px;
            resize: none;
        }
    }

    .form__select {
        width: 50%;
        padding: 10px;
        margin: 2px 0;
        text-align: left;
        border: none;
        border-bottom: 3px solid #5dbdb0;
    }

    .form__input {
        width: 90%;
        padding: 7px;
        margin: 4px 0;
        border: none;
        border-bottom: 3px solid #e97305;
    }

    & :focus {
        border-bottom: 3px solid rgb(6, 144, 172);
        outline: none;
        background: linear-gradient(to bottom, transparent, #8ec7bf91);
    }

    .bottom {
        background: linear-gradient(45deg, rgba(0, 212, 255, 0.7455357142857143) 2%, rgba(0, 61, 80, 1) 100%);
        border: 2px solid rgb(6, 144, 172);
        border-radius: 5px;
        color: white;
        padding: 8px 10px;
        font-size: 12px;
        cursor: pointer;
        margin: 15px;

        &:hover {
            outline: none;
            background: #e97305;
            color: #fff;
            border: 2px solid rgb(6, 144, 172);
        }
    }
}

.contacto--mapa {
    width: 100%;
    display: grid;
    gap: 10px;
}

.box__mapa {

    width: 95%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    text-align: center;   
    transition-duration: 5s;
  
	&:hover{
	
        background: linear-gradient(45deg, rgba(218, 219, 219, 0.746) 2%, rgb(234, 241, 243) 100%);
	}

    i {
        font-size: 24px;
        color: #003d50;
        padding: 5px;

        &:hover {
            -webkit-transform:scale(1.3);transform:scale(1.3);
            color: #e97305;
        }
    }

    h4 {
        font-size: 18px;
        color: #003d50;
        padding: 3px;

    }

    p {
        font-size: 12px;
        padding: 7px;
    }
}