.footer {
	background-image: url(../img/menu.jpg);
	grid-area: footer;	
	margin-bottom: -2em;
	color: #fff;
	
}

#promo {
	width: 100%;
    display: flex;
	flex-direction: row;
	align-items: center;	

	@media screen and (max-width: 576px) {

		flex-direction: column;
	}
	
	.promo__img {
		width: 20%;
		background: linear-gradient(to left, transparent, #003d50);
		margin: auto;
	
		img{
			width: 120px;
			margin-top: 10px;
			
			
			@media screen and (max-width: 576px) {
				width: 100%;
				margin: auto;
			}
		}	
	}

	.promo__text{
		width: 40%;
	

		@media screen and (max-width: 576px) {
			width: 95%;
		}

		p{
			padding: 14px;
			font-size: 15px;
			line-height: 1.5;
			text-align: justify;

			@media screen and (max-width: 576px) {
				font-size: 15px;
				padding: 5px;
			}
		}
	}

	.promo__redes{
		width: 30%;
		display: flex;
		flex-direction:column;
		align-items: center;
		background: linear-gradient(to right, transparent, #003d50);

		@media screen and (max-width: 576px) {
			flex-direction:row;
			width: 100%;
			justify-content: center;
		}

		i{

			@media screen and (max-width: 576px) {
				font-size: 35px;
				padding: 20px;
			}
			color: #e97305;
			font-size: 45px;
			padding: 5px;
			text-decoration: none;
		}
	}
}        
        

.footer1 {
    width: 100%;
    padding: 5px 0;
    border-top: 1px  solid #e97305;
	text-align: center;

	p{
		font-size: 16px;
		padding: 10px;	
	}
	
}

.whatsapp i{
    color: #fff;
    font-size: 48px;
    padding: 10px;
	position:fixed;
	width:50px;
	height:50px;
	bottom:20px;
	margin: 10px;
	background-color:#25d366;
	border-radius:50px;
	text-align:center;
	z-index:100;
    transition-duration: 1s;
    transition-property: transform;

	&:hover{
		transform: rotate(360deg);
    	-webkit-transform: rotate(360deg);
	}
}

