/* inicio menú */

.contenedor .carrusel {
    grid-area: carrusel;
    width: 100%;
    background-image: url(../img/menu.jpg);
    box-sizing: border-box;
    z-index: -1;
}

.slides {
    display: none;

    img {
        vertical-align: middle;
        max-height: 500px;
        border-radius: 0 0 30% 0;
        object-fit: cover;
        
    }

    .name {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: flex-end;
    }

    .text {
        width: 40%;
        margin-right: 50px;
        font-size: 45px;
        font-weight: bolder;
        text-align: center;
        margin-top: 10%;
        background: linear-gradient(45deg, rgba(0, 61, 80, 1) 2%, rgba(0, 212, 255, 0.7455357142857143) 100%);
        padding: 15px;
        color: #fff;
        border-radius: 0 0 0 40%;
        text-shadow: 5px 2px 5px 0 #fff;

        h4 {
            color: #e97305;
            font-size: 22px;
            font-weight: lighter;
        }
    }
}

/* Slideshow container */
.carrusel__contenedor {
    max-width: 1400px;
    position: relative;
    margin: auto;
}

/* Fading animation */
.fades {
    -webkit-animation-name: fades;
    -webkit-animation-duration: .5s;
    animation-name: fades;
    animation-duration: .5s;
}

@-webkit-keyframes fades {
    from {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

@keyframes fades {
    from {
        opacity: .7
    }

    to {
        opacity: 1
    }
}