@import "menu";
@import "contacto";
@import "productos";
@import "footer";
@import "slide";
@import "franquicias";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica', sans-serif;
}

.contenedor {

    padding: 10px 0 0;
    width: 100%;
    top: 0;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, auto);

    grid-template-areas:
        "carrusel carrusel carrusel"
        "redes--uno redes--uno redes--dos"
        "section section section"
        "article article article"
        "article2 article2 article2"
        "contacto contacto contacto"
        "footer footer footer";
}


.contenedor .section {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    grid-area: section;
}

.contenedor .redes--uno,
.contenedor .redes--dos {
    background: linear-gradient(45deg, #003d50 1%, rgba(0, 212, 255, 0.7455357142857143) 100%);
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.contenedor .redes--uno {
    grid-area: redes--uno;

}

.redes--uno h4 {
    font-size: 25px;
    color: rgba(0, 212, 255, 0.7455357142857143);
}

.redes--uno p {
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    padding: 5px;
}

.contenedor .redes--dos {
    grid-area: redes--dos;
}

.redes--dos i {
    font-size: 45px;
    color: #e97305;
    padding: 10px;

}

.redes--dos i:hover {
    color: #fff;
}

.form__titulo {
    margin-top: 4px;
    width: 90%;
    margin: auto;
    padding: 5px;
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #003d50;
    text-align: center;
    
}


.contenedor .article {

    grid-area: article;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;

}

.contenedor .article2 {
    grid-area: article2;
    width: 80%;
    margin: auto;
    height: 300px;
    
}

.box__video {
    width: 24.7%;
    border: 1px solid rgba(153, 153, 153, 0.288);
    margin: auto, 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    transition-duration: 2s;
    
  
	&:hover{
	
        background: linear-gradient(45deg, rgba(218, 219, 219, 0.746) 2%, rgb(234, 241, 243) 100%);
	}
}

.box__video:hover i {
    color: #e97305;
}

.box__video i {
    font-size: 40px;
    color: #003d50;
    padding: 7px;
}

.box__video h4 {
    font-size: 20px;
    color: #003d50;
    padding: 7px;

}

.box__video p {
    font-size: 15px;
    padding: 7px;

}


@media screen and (max-width: 992px) {

    .contenedor {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, auto);
        grid-template-areas:
            "carrusel carrusel "
            "redes--uno redes--dos"
            "section section "
            "article article"
            "article2 article2"
            "contacto contacto"
            "footer footer";
    }

    .logo {
        width: 263px;
        height: 60px;
    }
    .menu {
        max-width: 760px;
    }

    .navMenu li a {

        padding: 2px 5px;
        font-size: 14px;
    }

    .navMenu li a:hover,
    ul li .current {

        text-shadow: 0 0 1em #fff;
        color: #5dbdb0;
        transition: 0.5s;
    }

    .redes--uno h4 {
        font-size: 20px;
    }

    .section {
        align-content: flex-start;
        grid-area: section;
    }

    .box--productos {

        float: left;
        width: 30%;
        height: 350px;
        padding: 10px;
    }


    .box__video {
        width: 24%;
        border: 1px solid rgba(153, 153, 153, 0.288);
    }

    .contenedor .article2 {
        grid-area: article2;
        width: 100%;
        height: 400px;
    }

}


@media screen and (max-width: 768px) {

    .contenedor {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(40, auto);
        grid-template-areas:
        "carrusel  "
        "redes--uno "
        "redes--dos "
        "section "
        "section2  "
        "article "
        "article2  "
        "contacto "
        
    }
    /* inicio menú */


    .linkCompra {
        font-size: 14px;
    }

    .slides .text {
        margin-right: 30px;
        font-size: 30px;
        margin-top: 15%;
    }

    .text h4 {
        font-size: 16px;
    }

    .redes--dos i {
        font-size: 60px;
        padding: 30px;
    }


    .box--productos {

        float: left;
        width: 40%;
        height: 300px;
        padding: 10px;

    }

    .middle {

        opacity: 1;
        position: static;
        top: 0;
        width: 100%;
        left: 0;


    }

    .box--productos:hover .middle {
        display: none;
    }

    .middle .text {

        font-size: 15px;
        color: white;

    }


    .box__accordion {
        width: 50%;
        height: 400px;
    }


    .box__video {
        width: 24.3%;
        border: 1px solid rgba(153, 153, 153, 0.288);
    }

    .box__video i {
        font-size: 40px;
    }
    
    .box__video h4 {
        font-size: 22px;   
    }
    
    .box__video p {
        font-size: 13px;    
    }

    .contenedor .article2 {

        height: 300px;
    }

    .contenedor .contacto {
        display: flex;
        flex-direction: column;
    }

    .contacto-form {
        width: 100%;

    }

    .contacto--mapa {
        width: 100%;
        height: 300px;
    }


    .promo__img {
        width: 22%;
        padding: 0;

    }

    .promo__img img {
        width: 40px;
    }

    .promo__text {
        width: 40%;
    }

    .promo__text p {
        padding: 15px;
        font-size: 10px;


    }

    .promo__redes {
        width: 10%;
    }

    .promo__redes i {
        font-size: 25px;
     
    }

    .footer1 p {
        font-size: 12px;
        padding: 5px;
    }

}


@media screen and (max-width: 576px) {
    .contenedor {

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(40, auto);
        grid-template-areas:
            "carrusel  "
            "redes--uno "
            "redes--dos "
            "section "
            "section2  "
            "article "
            "article2  "
            "contacto "
            
        
        
    }


    .logo {
        width: 219px;
        height: 50px;
       
    }

    .linkCompra {
        margin-left: 40%;
        font-size: 12px;
        text-shadow: none;

    }

    .slides img {

        height: 250px;
        box-sizing: border-box;
        background-position: center;
        z-index: -1;
        border-radius: 0 0 30% 0;
    }

    .slides .text {
        width: 40%;
        margin-right: 7px;
        font-size: 20px;
        padding: 10px;
    }

    .text h4 {
        font-size: 11px;
    }

    .redes--uno h4 {
        font-size: 19px;
    
    }

    .redes--uno p {
        font-size: 12px;
     
    }

    .redes--dos i {
        font-size: 45px;
    }

    .form__titulo {
        font-size: 20px;

    }

    .section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .box--productos {
        width: 70%;
        margin-top: 10px;
    }

    .middle {

        opacity: 1;
        position: static;
        top: 0;
        width: 100%;
        left: 0;


    }

    .box--productos:hover .middle {
        display: none;
    }

    .middle .text {

        font-size: 15px;
        color: white;

    }

    .box__accordion {
        width: 100%;
        height: 400px;
    }

    .contacto-form {
        width: 100%;
        margin-bottom: 10px;

    }

    .contenedor .article {

        grid-area: article;
        width: 100%;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        padding: 0px;
        align-content: center;

    }

    .contenedor .article2 {
        grid-area: article2;
        margin-right: 0;
    }

    .box__video {
        width: 99%;
    }

    .box__video i {
        font-size: 50px;
    }

    .box__video h4 {
        font-size: 30px;
    }

    .box__video p {
        font-size: 16px;
        text-align: justify;
    }

    .contacto--mapa {

        padding-top: 10px;
    }

}